/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* End CSS Reset */

@font-face {
  font-family: "Norse";
  src:
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Norse";
  src:
    url("fonts/Norse.woff2") format("woff2"),
    url("fonts/Norse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  font-family: Consolas, sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  min-width: 300px;
  background-image: url("images/foggy-peak.jpg");
  background-size: cover;
  background-position: center;
}

.citation {
  color: white;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 20px;
}

.citation a:visited,
.citation a:link {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  width: 75vw;
  background-color: rgb(245, 245, 245);
}

.odin-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-family: "Norse", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.odin-bar img {
  height: 2.5em;
  width: auto;
}

.intro {
  margin-top: 15vh;
  padding-left: 32px;
}

.form-block {
  font-size: 18px;
  font-weight: 700px;
  margin-top: 2em;
  margin-bottom: 1.5em;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(200, 200, 200);
}

.form-block form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row {
  display: flex;
  gap: 64px;
}

.form-input label {
  font-size: 12px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input input {
  border: 1px solid #d6d9dc;
  border-radius: 3px;
}

.form-input input:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 250);
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
}

.form-input input:user-invalid {
  border: 1px solid #d55c5f;
}

.footer {
  padding-left: 32px;
}
